ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 15px;
}
.card{
  background-color: skyblue;
}
.slider-img {
  width: 98%;
  height: 450px;
  padding: 10px;
  box-sizing: content-box;
  border-bottom: thin solid black;
}
.image {
  float: left;
  width: 200px;
  height: 300px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 20px;
  box-sizing: border-box;
}
.p-text {
  column-count: 4;
  column-rule: thin solid black;
  text-align: justify;
  column-fill: balance;
  margin-bottom: 30px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
}